:root{
    --logo-blue: #464fea;
    --dark-blue: #fcfcfc;
    --dash-bg: #fcfcfc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: var(--dash-bg);
}

nav {
    padding: 10px;
    background-color: var(--dark-blue);
}
button {
    padding: 5px 10px;
    background-color: var(--logo-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;
}
.navcontainer{
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
}

.navcontainer .logo{
    width: 250px;
    margin: 5px 0;
    display: block;
}
.outerlayer{
    padding: 10px;
}
.innerlayer{
    max-width: 1000px;
    margin: 10px auto;
    padding: 0 30px;
}
.fa{
    margin: 0;
}

.roomsheading{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.roomsheading a{
    color: black;
}
.roomsheading div{
    width: 86%;
    border: 1px solid #c5c5c5;
}

.roomscontainer{
    width: auto;
    display: flex;
    padding: 30px 0;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.roomscontainer a{
    color: white;
    font-weight: 600;
}
.roomcard{
    list-style: none;
}
.roomcard a{
    background-color: var(--logo-blue);
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
}
.logoutbtn{
    background-color: white;
    color: var(--logo-blue);
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 36px;
}
h4{
    font-size: 24px;
}

/* Create Room */

.createroom{
    background-color: green;
    font-size: 20px;
    margin: 20px 0;
}
.inputbox {
    margin-bottom: 25px;
}

.inputbox label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.inputbox input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:black;
    background-color: #f0f0f0;
    font-size: 15px;
}
.inputbox input:focus{
    background-color: white;
}
.createroomform{
    padding: 20px 0;
}
.createroomform button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--logo-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0;
}
.createroomform button[type="submit"]:hover {
    background-color: #212ad8;
}
.message-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 235px);
    background: #f0f0f0;
    scrollbar-width: thin;
    scrollbar-color: black #eee;
}
.message {
    margin-bottom: 10px;
    padding: 10px;
}

.message.sent {
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;
    background-color: #464fea;
}

.message.received {
    align-self: flex-start;
    background-color: #00cfff;
    border-radius: 10px 10px 10px 0px;
}
.joinroom{
    align-self: center;
    background-color: lawngreen;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.leftroom{
    align-self: center;
    background-color: #ff672f;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.message-text {
    font-size: 18px;
    color: whitesmoke;
}

.message-info {
    font-size: 14px;
    color: black;
}

.heading{
    display: flex;
    gap: 30px;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    align-items: center;
    justify-content: space-between;
}
.heading a{
    color: black;
    align-content: center;
}
.members{
    display: flex;
    gap: 15px;
    align-content: center;
    align-items: center;
}
.members ul{
    display: flex;
    gap: 8px;
    list-style: none;
}
.newmessage {
    margin: 10px 0;
    display: flex;
}
.newmessage label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.newmessage input {
    width:90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    color:black;
    background-color: #f0f0f0;
    font-size: 15px;
    outline: none;
}
.newmessage input:focus {
    background-color: white;
    border: 1px solid var(--logo-blue);
}
.newmessage button{
    width: 10%;
    margin: 0;
    border-radius: 0px 5px 5px 0px;
}
.bx{
    font-size: 30px;
} 
.alert{
    color: red;
}
.editcontainer{
    padding: 10px;
}
