:root{
    --logo-blue: #464fea;
    --bg-blue: #050521;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: #f1f1f1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Homepage */

body {
    margin: 0;
    padding: 0; 
    background-color: var(--bg-blue);
}
.outer {
    display: flex;
    /* min-height: 100vh; */
}
.left-side {
    flex: 70%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.right-side {
    flex: 30%;
    /* background-color: #333; */
    background-color: var(--bg-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    
}
.right-side .logo {
    width: 70%;
}
.leftbg{
    width: 100%;
    object-fit: cover;
    /* height: 100vh; */
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    /* margin: 10px; */
}
button {
    padding: 10px 20px;
    background-color: var(--logo-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;
}
.text{
    margin: 20px;
    font-size: 18px;
    padding: 0px 25px;
}
.text h3{
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .right-side{
        flex: 50%;
    }
}
@media screen and (max-width: 800px) {
    .right-side{
        flex: 80%;
    }
}
@media screen and (max-width: 700px) {
    .left-side{
        display: none;
    }
    .right-side{
        flex: 100%;
        height: 100vh;
    }
    .right-side .logo{
        width: 200px;
    }
}
nav {
    padding: 10px;
    background-color: var(--bg-blue);
}

nav button {
    padding: 8px 12px;
    background-color: var(--logo-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container .logo{
    width: 200px;
    margin: 0px auto;
    margin-bottom: 40px;
    display: block;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
}
.loginform h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.inputbox {
    margin-bottom: 25px;
}

.inputbox label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.inputbox input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#050521;
    font-size: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--logo-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0;
}

button[type="submit"]:hover {
    background-color: #212ad8;
}
.fa{
    color: var(--logo-blue);
    margin: 10px;
}
