<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{room.name}} | FriendChat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="navcontainer">
        <img
          class="logo"
          src="{{ url_for('static', filename='logo-left.png') }}"
        />
        {% if current_user.is_authenticated %}
        <a href="/logout">
          <button class="logoutbtn">
            <i class="bx bx-log-out bx-flip-horizontal"></i></button
        ></a>
        {% endif %}
      </div>
    </nav>
    <div class="outerlayer">
      <div class="innerlayer">
        <div class="heading">
          <div style="display: flex; gap: 30px">
            <a href="/dashboard">
              <i
                style="font-size: 30px"
                class="fa fa-arrow-circle-left"
                aria-hidden="true"
              ></i>
            </a>
            <div style="display: flex; align-items: center; gap: 10px">
              <h1>Chat Room: {{ room.name }}</h1>
              {% if room.created_by == current_user.username %}
              <a href="{{ url_for('edit_room', room_id=room._id)}}"
                ><i class="bx bxs-edit"></i
              ></a>
              {% endif %}
            </div>
          </div>
          <div class="members">
            <h3>Members:</h3>
            <ul style="display: flex">
              {% for member in room_members %}
              <li>{{ member._id.username }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="message-container" id="messages">
          {% for message in messages %}
          <div
            class="message {% if message.sender == current_user.username %}sent{% else %}received{% endif %}"
          >
            <div class="message-text">{{ message.text }}</div>
            <div class="message-info">
              <span>{{ message.sender }}</span>
              <span>[{{ message.created_at }}]</span>
            </div>
          </div>
          {% endfor %}
        </div>

        <form id="message_input_form">
          <div class="newmessage">
            <input
              type="text"
              id="message_input"
              placeholder="Enter your message here"
            />
            <button type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
  <script>
    const socket = io.connect("http://127.0.0.1:5000");
    // const socket = io.connect("");

    socket.on("connect", function () {
      socket.emit("join_room", {
        username: "{{ username }}",
        room: "{{ room._id }}",
      });

      let message_input = document.getElementById("message_input");

      document.getElementById("message_input_form").onsubmit = function (e) {
        e.preventDefault();
        let message = message_input.value.trim();
        if (message.length) {
          socket.emit("send_message", {
            username: "{{ username }}",
            room: "{{ room._id }}",
            message: message,
          });
        }
        message_input.value = "";
        message_input.focus();
      };
    });

    function scrollToBottom() {
      var messageContainer = document.getElementById("messages");
      messageContainer.scrollTop = messageContainer.scrollHeight;
    }

    // Scroll to bottom when the window loads
    window.onload = scrollToBottom;

    window.onbeforeunload = function () {
      socket.emit("leave_room", {
        username: "{{ username }}",
        room: "{{ room._id }}",
      });
    };

    socket.on("receive_message", function (data) {
      console.log(data);
      const messageContainer = document.getElementById("messages");
      const newNode = document.createElement("div");

      // Check if the message sender is the current user
      if (data.username === "{{ username }}") {
        newNode.classList.add("message", "sent");
        newNode.innerHTML = `<div class="message-text">${data.message}</div>
                           <div class="message-info"><span>${data.username} [${data.created_at}]</span></div>`;
      } else {
        newNode.classList.add("message", "received");
        newNode.innerHTML = `<div class="message-info"><span>${data.username} [${data.created_at}]</span></div>
                           <div class="message-text">${data.message}</div>`;
      }

      messageContainer.appendChild(newNode);
      scrollToBottom();
    });

    socket.on("join_room_announcement", function (data) {
      console.log(data);
      if (data.username !== "{{ username }}") {
        const newNode = document.createElement("div");
        newNode.classList.add("joinroom");
        newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
        document.getElementById("messages").appendChild(newNode);
        scrollToBottom();
      }
    });

    socket.on("leave_room_announcement", function (data) {
      console.log(data);
      const newNode = document.createElement("div");
      newNode.classList.add("leftroom");
      newNode.innerHTML = `<b>${data.username}</b> has left the room`;
      document.getElementById("messages").appendChild(newNode);
      scrollToBottom();
    });
  </script>
</html>
